<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
    {% include navbar.html %}

    <!--Banner Content-->
    <div id="banner-content" class="row clearfix">
        <div class="col-38">
            <div class="section-heading">
                <h1>EIGHT POINT SQUARED</h1>
                <h2>Understanding problems, one system at a time</h2>
            </div>

            <!--Call to Action-->
            <a href="#pricing" class="button">GET IN TOUCH</a>
            <!--End Call to Action-->
        </div>
    </div><!--End of Row-->
</header>